#wrapper {
  display: flex;
  width: 1000px;
}

.table {
  border-collapse: collapse;
  font-family: verdana, arial, sans-serif;
  font-size: 15px;
  color: #333333;
  border-width: 1px;
  border-color: #666666;
  margin: 30px 0;
}

.table tr {
  line-height: 30px;
}

.table thead tr th,
.table td {
  width: 100px;
  border: 1px solid #333333;
  text-align: center;
}


#blue {
  flex: 1;
}

#red {
  margin-left: 10px;
}